@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --font-size-xxl: 18px;
  --font-size-xl: 16px;
  --font-size-xm: 14px;
  --font-size-sm: 12px;
  --font-size-xs: 10px;
  --bs-border-color: trasparent;
  --scrollbarBG: #fff;
  --thumbBG: #c2c2c2;
}

body {
  font-family: "Open Sans", sans-serif, monospace;
  overflow: hidden scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 0.6rem;
  border: 0.3rem solid var(--scrollbarBG);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.icon {
  width: 2.5rem;
}

.link-text {
  font-size: var(--font-size-xm);
  color: #333333;
}

.navbar-logo-tagline {
  color: #00000090;
}

#navbar-link-profile {
  border: none !important;
}
/* my Profile dropdown */
.custom-dropdown-menu .dropdown-item .item-text {
  font-size: var(--font-size-xl); /* Adjust the desired font size */
  padding: 1rem;
}
.custom-dropdown-menu .dropdown-item.update-profile-item .align-middle {
  vertical-align: middle; /* Align the icon vertically in the middle */
}

.dropdown-item {
  padding: 0.8rem 0.5rem;
}

.dropdown-item-icon {
  color: #00000077;
}

.custom-dropdown-menu .dropdown-item svg {
  width: 24px; /* Adjust the desired icon width */
  height: 24px; /* Adjust the desired icon height */
}

#custom-dropdown-toggle {
  padding: 0 !important;
  border: none !important;
  background: transparent;
}

.custom-dropdown-toggle:hover {
  background-color: transparent;
  border: none;
}

.custom-dropdown-menu:focus {
  border: none;
  padding: 0;
}

.custom-dropdown-toggle {
  border: none;
}

.custom-dropdown-toggle:active {
  background-color: transparent;
}

.custom-dropdown-menu {
  padding: 0;
}

/* sideBar */

.sidebar {
  background-color: #f2f2f2;
  padding: 1rem;
  padding-left: 2rem;
  height: 600px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li:last-child {
  margin-bottom: 0;
}

.nav-link {
  padding: 0;
}

.pl-1 {
  padding: 0 !important;
  padding-left: 2rem !important;
  padding-top: 0.4rem !important;
}

.link-main {
  font-weight: 700;
  font-size: var(--font-size-xl);
}

.sidebar-nav-link {
  font-size: var(--font-size-xm);
  font-weight: 400;
  color: #000;
}

.profile-name {
  color: #000000de;
  font-size: 20px;
  letter-spacing: 0.15px;
  line-height: 24px;
}

.active-link {
  color: blue !important;
  border-color: violet;
}
/* small screen sidebar  */
.sidebar-small-screen {
  display: none;
}

.sidebar-small-screen-link {
  padding: 0rem 1.6rem;
}

.sidebar-small-link-update-profile {
  color: #1676f3;
  font-size: var(--font-size-xm);
  font-weight: 700;
}

.sidebar-small-link-update-profile:hover {
  color: #1676f3;
}

.sidebar-nav-link-header {
  background-color: #f2f2f2;
  padding-right: 1rem;
}

.accordion-button {
  background-color: #f2f2f2 !important;
  padding: 1rem 0rem !important;
}

/* profile */

.nav {
  flex-wrap: nowrap !important;
}

.nav-item {
  background-color: #f2f2f2;
}

.nav-tabs .nav-link {
  font-size: var(--font-size-sm);
  color: #000;
  padding: 0.5rem 1rem;
  text-align: center;
  line-height: var(--font-size-sm);
  border-right: 1px solid white !important;
}

.hr-tag {
  color: blue;
  margin: 0;
  height: 2px;
}

.form-tab > .active {
  font-weight: 700 !important;
  border: 1px solid blue !important;
  border-right: 1px solid blue !important;
}

.form-label {
  margin-bottom: 0 !important;
  font-size: var(--font-size-xm);
  font-family: 400;
}

.btn {
  /* padding:.5rem 1.5rem; */
  border: 1px solid #00000033 !important;
  width: 6rem;
  text-align: center;
}

.botton-container {
  padding-top: 1rem;
  padding: 0rem 4rem important;
}

.form-control {
  height: 2.875rem;
}

.form-container {
  padding: 0rem 3rem !important;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.form-container::-webkit-scrollbar {
  width: 1rem;
}

.form-container::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.form-container::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 0.6rem;
  border: 0.3rem solid var(--scrollbarBG);
}

.btn-pre-next {
  border: 1px solid gray;
}

.custom-form-label {
  width: 50%;
}

.form-check-label {
  font-size: var(--font-size-sm);
}

.profile-user-info {
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  font-family: "Roboto", Courier, monospace;
  background-color: #e6f7ff80;
  font-size: var(--font-size-xm);
  font-weight: 400;
  padding: 0rem 1rem;
}

.user-profile-container h5 {
  font-size: var(--font-size-xl);
  font-weight: 700;
}

.user-profile-container span {
  display: block;
}

.profile-user-info-details {
  padding: 1rem;
}

.profile-info-title {
  font-size: var(--font-size-xl);
}

.btn-update-profile-bottom {
  display: block;
  padding: 5px 20px;
  border-radius: 4px;
  background-color: #133d7a;
  border: 1px solid #486284;
  color: #fff;
  cursor: pointer;
}

.btn-update-profile-bottom:hover {
  background-color: "#486284";
}

.user-profile-info-title-main {
  font-size: var(--font-size-xm);
  font-weight: 700;
}

.user-info-sub-title {
  font-size: var(--font-size-sm);
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

.settings-container .form-label {
  font-family: "Open Sans";
  font-size: var(--font-size-xxl);
  font-weight: 600;
}

.settings-container .custom-form-label {
  width: 57.5%;
}

.form-check-label {
  font-size: var(--font-size-sm);
  font-weight: 400;
}

.form-group span {
  font-size: var(--font-size-xm);
  color: blue;
  cursor: pointer;
}

.back-btn {
  display: none;
}

/* Large screen navbar */

.large-screen-navbar {
  display: block;

  @media (max-width: 775px) {
    display: none;
  }
}

.form-group {
  display: flex;
}

.small-screen-navbar {
  display: none;

  @media (max-width: 775px) {
    display: flex;
  }
}

@media (max-width: 775px) {
  :root {
    --font-size-xxl: 12px;
    --font-size-xl: 14px;
    --font-size-xm: 12px;
    --font-size-sm: 10px;
    /* --font-size-xs:10px; */
  }

  .sidebar {
    display: none;
    padding-left: 1rem;
  }

  .large-screen-navbar {
    display: none;
  }

  .small-screen-navbar {
    display: flex;
  }

  hr {
    display: none;
  }

  .sidebar-small-screen {
    display: block;
    position: absolute;
    background-color: #f2f2f2;
    height: 100vh;
    width: 70vw;
    padding-left: 1rem;
  }

  .nav {
    flex-wrap: nowrap !important;
    border: none !important;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }

  .nav::-webkit-scrollbar {
    width: 1rem;
  }

  .nav::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }

  .nav::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 0.6rem;
    border: 0.3rem solid var(--scrollbarBG);
  }

  .nav-item {
    background-color: transparent !important;
  }

  .form-tab > .nav-link {
    width: 9rem;
    height: 2.5rem;
    margin-right: 0.3rem !important;
    border: none !important;
  }

  .form-tab > .nav-link:hover {
    border: none !important;
  }

  .form-container {
    padding: 0rem 1rem !important;
  }

  .form-tab > .active {
    border: none !important;
  }

  .botton-container {
    padding: 2rem 0rem !important;
  }

  .form-control {
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0;
  }

  .user-profile-container h5 {
    font-size: var(--font-size-xm);
    font-weight: 700;
  }
  .form-group {
    display: block;
  }
  .container-right {
    display: none;
  }

  .back-btn {
    display: block;
  }
}
